{% load static %}
{% load socialaccount %}
<html lang="en">
    
<style>
    .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}
.carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 100%;
    width: 100%;
    
}
.hidden{
	display: none!important;
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

</style>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<title>Home-User</title>
</head>
<body>
    
<!-- Navigation Bar for User -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">   
    <a class="navbar-brand" href="{% url 'portal' %}">AGROMARKET</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'portal' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Buy
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Fruits</a>
                    <a class="dropdown-item" href="#">Crops</a>
                    <a class="dropdown-item" href="#">Vegetables</a>
                    <!-- <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
                </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'userCartPage' %}">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Deals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liked Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="logout" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="logout">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Profile</a>
                    <!-- <a class="dropdown-item" href="#">Vegetables</a> -->
                    <div class="dropdown-divider"></div>
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="dropdown-item" href="{% provider_login_url 'google' method='js_sdk' %}">Login</a>
                    {% endif %}
                </div>
            </li>
            
        </ul>
    </div>
</nav>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" style="background-color: rgb(226, 208, 40); padding: 5%;">
    <div class="carousel-inner">
        <div class="carousel-item active " data-interval="5000">
        <img src="https://i.pinimg.com/originals/78/e1/b1/78e1b1e584c54ac012e1ab82168007a5.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>High Quality Crops</h5>
            <p>Let's Connect</p>
          </div>
        </div>
        <div class="carousel-item" data-interval="5000">
        <img src="https://i.pinimg.com/originals/d6/79/23/d67923fd3a82b56925cc6162c80ca3cd.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Fresh Vegetables</h5>
            <p>Let's Connect</p>
          </div>
        </div>
        <div class="carousel-item" data-interval="5000">
        <img src="https://images6.alphacoders.com/368/368872.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Fresh Fruits</h5>
            <p>Let's Connect</p>
            <p>Let's Connect</p>
          </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>



<h1 style="text-align: center;">DEFAULT FARMER LIST IN YOUR STATE</h1>

<div class="hidden box-element" style="text-align: center;" id="signUpPart">
    <div id="loginStatus"></div>
    <button class="btn btn-primary" id="signup-farmer-btn" href="">As Farmer</button>
    <button class="btn btn-primary" id="signup-buyer-btn" href="">As Buyer</button>

</div>

<svg height="50">
    <rect height="50" style="fill:white;stroke-width:3;stroke:white" />
  </svg>
<div class="container-fluid col-md-6" id="farmerlist">
    
</div>








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    var signUpStatus = '{{signUpStatus|safe}}'
    console.log(signUpStatus)

    if (signUpStatus=="notLoggedIn"){
        document.getElementById("signUpPart").classList.remove("hidden")
        document.getElementById("loginStatus").innerHTML="<h2>Please login to sell or purchase</h2>"
    }

    if (signUpStatus=="loggedInNotSignedUp"){
        document.getElementById("signUpPart").classList.remove("hidden")
        document.getElementById("loginStatus").innerHTML="<h2>Please Complete Your Signup Process</h2>"

    }

    document.getElementById('signup-farmer-btn').addEventListener('click', function(e) {
        
        if (signUpStatus=="notLoggedIn"){
            window.location.href="{% provider_login_url 'google' method='js_sdk' %}"
        }

        if (signUpStatus=="loggedInNotSignedUp"){
            window.location.href="{% url 'farmerSignUpPage' %}"
        }
    })

    document.getElementById('signup-buyer-btn').addEventListener('click', function(e) {
        
        if (signUpStatus=="notLoggedIn"){
            window.location.href="{% provider_login_url 'google' method='js_sdk' %}"
        }

        if (signUpStatus=="loggedInNotSignedUp"){
            window.location.href="{% url 'userSignUpPage' %}"
        }
    })

    var farmers = {{allFarmers|safe}} 
    console.log(farmers)


    var farmerlistappend="";
    for(i=0;i<farmers.length;i++)
    {
        farmerlistappend=farmerlistappend+'<div class="card" style="text-align: center;">'+
    '<div class="row" style="border: 5px;">'+
        '<div class="col-6" style="border: 5px;">'+
            '<h1 style="font-size: 50px;font-weight: 600;">'+farmers[i].Name+'</h1>'+
        '</div>'+
       ' <div class="col-6" style="border: 5px;">'+
            '<p class="font-weight-light" style="font-size: 25px;">'+farmers[i].MajorSeller+'</p>'+
            '<p class="font-weight-bold" style="font-size: 25px;">Ratings:'+farmers[i].Ratings+'</p>'+
        '</div>'+
    '</div>'+
    '<div class="row" style="border: 5px;">'+
        '<div class="col">'+
            '<p class="font-weight-bold" style="font-size: 25px;">City:'+farmers[i].Address_city+'</p>'+
            '<p class="font-weight-bold" style="font-size: 25px;">State:'+farmers[i].Address_state+'</p>'+
        '</div>'+
    '</div>'+
    '<a data-farmer='+farmers[i].userId+' class="btn btn-primary stretched-link buybtn">Buy From this Farmer </a>'+
    '</div>';
    }
    document.getElementById("farmerlist").innerHTML=farmerlistappend;
    
    var buyBtns = document.getElementsByClassName('buybtn')


    for (var i=0; i<buyBtns.length; i++){
        buyBtns[i].addEventListener('click', function(){

            if (signUpStatus=="notLoggedIn")
                alert("please login or singnup first");
            
            else if (signUpStatus=="loggedInNotSignedUp")
                alert("please complete your signup as a buyer to use this feature");
            
            else if (signUpStatus=="farmerCompleted")
                alert("Irrelevant Feature for farmer")

            else if (signUpStatus=="wholesalerCompleted") {
                var farmerId = this.dataset.farmer
                console.log("buying from farmer ID: ",farmerId)
                window.location.href = "{% url 'farmerPage' %}"+"?farmerId="+farmerId
            }
        })
    }

</script>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>